## Question 1: Given some sample data, write a program to answer the following: click here to access the required data set

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis

### a. Think about what could be going wrong with our calculation. Think about a better way to evaluate this data:
    
  The calculation of the AOV did not take into consideration the variablity in order size. This created outliers that skewed the AOV.

### b. What metric would you report for this dataset?

In order to take into account the variablity in order size and the fact that each store sellls the sneakers at a different price, we must tally the total value of all orders and the total number of items sold.

In [2]:
# The code was removed by Watson Studio for sharing.

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [3]:
total_order_amount = df['order_amount'].sum()
total_order_amount

15725640

In [4]:
sum_items = df['total_items'].sum()
sum_items

43936

Dividing the two values would yield the average value of a single order.

In [5]:
average_item_price = total_order_amount/sum_items
average_item_price

357.92152221412965

Then we calculate the median of the total_item column to find the median order size.

In [6]:
median_order_amount = df['total_items'].median()
median_order_amount

2.0

Finally we multiply the average item price by the median order size to get the average order value (AOV).

In [7]:
average_order_amount = average_item_price * median_order_amount
print('AOV = $' + str(average_order_amount))

AOV = $715.8430444282593